h1 {
    color: rgb(93, 0, 0)
}

h2 {
    color: rgb(93, 0, 0)
}

p1 { 
    color: rgb(44, 0, 0)
}

p2 {
    color: rgb(44, 0, 0)
}

p3 {
    color: rgb(44, 0, 0)
}

p4 {
    color: rgb(44, 0, 0)
}

p5 {
    color: rgb(44, 0, 0)
}

p6 {
    color: rgb(44, 0, 0)
}

p7 {
    color: rgb(44, 0, 0)
}

